@page "/admin/checkins"
@layout MainLayout
@attribute [Authorize(Roles = "Admin")]
@inject ReservasService ReservasService
@inject IModalService Modal
@inject IToastService ToastService

<h3>Data hotel: @((DateTime.Today).ToString("dd/MM/yyyy"))</h3>
<div class="row">
    @if (checkins == null)
    {
        <p>Carregando...</p>
    }
    else if (!checkins.Any())
    {
        <p>Nenhuma reserva com check-in hoje.</p>
    }
    else
    {
        @foreach (var c in checkins)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100" style="cursor: pointer;" @onclick="() => ShowModal(c)">
                    <div class="card-body">
                        <h4 class="card-title"><strong>Reserva:</strong> @c.Id</h4>
                        <p class="card-text">
                            <strong>Email: </strong>@c.Email<br />
                            <strong>Check-In:</strong> @c.CheckIn.ToString("dd-MM-yyyy")<br />
                            <strong>Check-Out:</strong> @c.CheckOut.ToString("dd-MM-yyyy")<br />
                            <strong>Estado:</strong> @(estados?.FirstOrDefault(e => e.Id == c.EstadoId)?.Nome ?? "Desconhecido")<br />
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {
    private List<Reservas>? checkins;
    private List<Estado>? estados;

    protected override async Task OnInitializedAsync()
    {
        // load today's check-ins
        await GetCheckins();
        estados = await ReservasService.GetEstadosAsync();
    }

    private async Task ShowModal(Reservas c)
    {
        var parameters = new ModalParameters();
        parameters.Add("Reserva", c);
        var options = new ModalOptions
        {
            Size = ModalSize.Automatic
        };
        var modal = Modal.Show<CheckinModal>("Ações de Reserva", parameters, options);
        var result = await modal.Result;
        if (!result.Cancelled)
        {
            await GetCheckins();
        }
    }

    private async Task GetCheckins()
    {
        checkins = await ReservasService.GetBookingsForDateAsync(DateTime.Today);
    }
}